.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: green;
  color: white;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
