.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: grey;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
